# macOS 시스템 파일
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
*.spec
.ipynb_checkpoints/

# Java
*.class
*.jar
*.war
*.ear
*.log

# Maven / Gradle build
target/
build/
out/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# VSCode 
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# 테스트 및 커버리지
htmlcov/
.coverage
.cache
.pytest_cache/

# 데이터베이스 파일
db.sqlite3
db.sqlite3-journal

# 패키징 관련
*.egg-info/
dist/
*.egg
*.whl

# 기타
*.log
